<div class="row">
    {{!-- {{ port }} --}}
    {{!-- {{ pid }} --}}
    <div class="col">
        <h3 class="p-1 bg-success p-2 text-dark bg-opacity-10 text-center">LOGIN</h3>
        <form id="form-login" action="/login" method="POST">
            <div class="mb-3">
                <label for="">Email</label>
                <input type="email" class="form-control mt-1" name="email" required>
            </div>
            <div class="mb-3">
                <label for="">Contraseña</label>
                <input type="text" class="form-control mt-1" name="password" required>
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-success p-2 w-100" value="Ingresar">
            </div>
        </form>
        <div class="mb-3 text-center">
            <a href="/register" class="fs-5">Registrarme</a>
        </div>
    </div>
</div>

