<div class="d-flex justify-content-between p-4" style="background-color: #2ecc71;">
    <h3 class="">Bienvenido</h3>
    <h4>{{ user  }}</h4>
    <a href="/logout" class="btn btn-warning">LOGOUT</a>
</div>
